# PostgreSQL
POSTGRES_USER=bearing
POSTGRES_PASSWORD=Couspdata
POSTGRES_DB=ids_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# pgAdmin
PGADMIN_EMAIL=admin@cholera.org
PGADMIN_PASSWORD=admin

# Chemin des données (si différent)
DATA_DIR=./data
LOG_DIR=./logs